<%= @legislator.first_name %>
<%= @legislator.last_name %>
(<%= @legislator.party %>)<br>
<%= @legislator.title %><br><br>
Votes with Party Percentage: <%= @legislator.votes_with_party_pct %>%<br>
Total Votes: <%= @legislator.total_votes %><br>
Missed Votes: <%= @legislator.missed_votes %><br>
Percentage of Votes Missed: <%= @legislator.missed_votes_pct %>%<br><br>
Phone: <%= @legislator.phone %><br>
Office Address: <%= @legislator.office %><br>
Date of Birth: <%= @legislator.date_of_birth %><br><br>

Social<br><br>
<a href="https://twitter.com/<%= @legislator.twitter_account %>">Twitter</a><br>
<a href="https://www.facebook.com/<%= @legislator.facebook_account %>/">Facebook</a> <br>
<a href="https://www.youtube.com/user/<%= @legislator.youtube_account %>">Youtube</a><br>

<a href="https://www.govtrack.us/congress/members/<%= @legislator.first_name %>_<%= @legislator.last_name %>/<%= @legislator.govtrack_id %>">Govtrack</a>
<br>
<a href="https://votesmart.org/candidate/biography/<%= @legislator.votesmart_id %>/<%= @legislator.first_name %>-<%= @legislator.last_name %>"> Votesmart</a>


<br><br><br>

Next Election: <b><%= @legislator.next_election %></b><br>
